bin/
obj/
*.user
*.suo
*.cache
*.log
*.vs/
.vs/
*.db
*.sqlite
*.pdb
*.mdb
*.opendb
*.VC.db
*.Rproj.user
TestResults/
*.ncb
*.userosscache
*.sln.docstates
*.suo
*.userprefs
packages/
*.nupkg
*.snupkg
*.nuspec
*.log
*.vsconfig
.idea/
.vscode/
*.dbmdl
*.csproj.user
*.dbproj.schemaview
publish/
*.publishsettings
*.azurePubxml
*.azurePubxml.user
*.suo
*.user
Generated\ Files/
Desktop.ini
Thumbs.db
